
run = "poetry install"

entrypoint = "main.py"

language = "python3"

[packager]
language = "python-python3-poetry"
afterInstall = ""

[packager.features]
packageSearch = true
guessImports = false

audio = false

