
run = "(git checkout working && git fetch && git rebase origin/main && pip install --upgrade pip && poetry install) || git commit -am 'install packages' || python main.py"

onboot = "git checkout working && git fetch && git rebase origin/main && pip install --upgrade pip && poetry install && git commit -am 'install packages'"

# entrypoint = "main.py"

language = "python3"

[packager]
language = "python-python3-poetry"

audio = false
