
#run = "while true; do python -m pip install --upgrade pip && poetry install && python main.py; done"

run = "python main.py"

onBoot = "touch ./hello"

onboot = "touch ./hello2"

# entrypoint = "main.py"

language = "python3"

[packager]
language = "python-python3-poetry"

audio = false

